
</div>
<div class="footer" id="footer">
    
    <a href="https://www.linkedin.com/in/rajat-sharma09" class="footer-icon"><i class="fa-brands fa-linkedin"></i></a>
    <a href="https://www.instagram.com/rajat9.lyfe" class="footer-icon"><i class="fa-brands fa-instagram"></i></a>
    <a href="/contact" class="footer-icon"><i class="fa-solid fa-message"></i></a>
    <% var date=new Date().getFullYear() %>
    <p class="copy-footer">© Copyright Rajat <%= date %></p>
</div>
</body>
</html>


