<%- include("partials/header") -%>

<h1>My Contact Details</h1>
<p>Delhi,India</p>
<p>rajat9.mech@gmail.com</p>
<hr>
<form action="mailto:rajat9.mech@gmail.com" method="post" enctype="text/plain">
    <label >Your name:</label>
    <input type="text" name="Your name" id=""><br><br>
    <label >Your Email:</label>
    <input type="email" name="Your Email" id=""><br><br>
    <label for="">Your Massage</label><br>
    <textarea name="Your Massage" id="" cols="30" rows="8"></textarea><br>
    <input type="submit" name="" id="">
</form>




<%- include("partials/footer") -%>