<%- include("partials/homeHeader") -%>

<h2 class="home-content">Publish your thoughts, your way</h2>
<h5 class="home-content"> 
  Don't keep your stroies with you, share them anonymously!
  Create a unique and beautiful blog easily.<br>
  <form action="/create" method="get">
    <button type="submit" class="btn btn-light btn-sm home-btn">CREATE YOUR BLOG</button>
  </form>
</h5>

<%- include("partials/footer") -%>